{% extends "base.html" %}

<!doctype html>
<html>

<head>
    <script src="https://cdn.plot.ly/plotly-2.32.0.min.js" charset="utf-8"></script>
    
</head>

<body>
    {{ super() }}
    <h1>test 1</h1>
    <!--buttons for database operation: -->
    <button class="btn btn-primary" type="button" value="Update Data Table"></button>
    <button class="btn btn-danger" type="button" value="Delete Data Table"></button>
    <button class="btn btn-info" type="button" value="Plot Data"></button>
    
    <h1>test</h1>


  

</body>

</html>