{% extends "base.html" %}

<!doctype html>
<html>

<head>
    <script src="https://cdn.plot.ly/plotly-2.32.0.min.js" charset="utf-8"></script>
    
</head>

<body>
    
    <!--buttons for database operation-->
    <input class="btn btn-primary" type="submit" value="Update Data Table">
    <input class="btn btn-danger" type="submit" value="Delete Data Table">
    <input class="btn btn-info" type="submit" value="Plot Data">

    {% block content %}

    <div id="myPlot" style="width:100%;max-width:700px"></div>
    <div id="tester" style="width:600px;height:250px;"></div>
    

    <script>
        TESTER = document.getElementById('tester');
        Plotly.newPlot( TESTER, [{
        x: [1, 2, 3, 4, 5],
        y: [1, 2, 4, 8, 16] }], {
        margin: { t: 0 } } );
    </script>


{% endblock %}

</body>

</html>